.about {
  width: 100%;
  min-height: 700px;
  position: relative;
  background: $main-color;

  &__desc {
    padding-top: 20vh;
    // width: 70vh;
    max-width: 1024px;
    margin: auto;
    font-size: 1.8em;
    text-align: justify;
    line-height: 40px;

    .subtitles {
      padding-bottom: 2rem;
    }

    .capital {
      font-size: 50px;
      margin-right: 10px;
      line-height: 15px;
      color: $second-color;
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 1rem;
    left: 0.5rem;

    i {
      padding: 4px;

      &:hover {
        @include hover-text;
      }
    }
  }

  footer {
    transform: rotate(270deg) translate(3rem, 5rem);
  }
}
