$main-color: #0f0f0f;
$second-color: #1bbae1;
$main-font: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background: $main-color;
  color: #fff;
  height: 100vh;
  font-family: $main-font;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;

  &-thumb {
    background: linear-gradient(transparent, $second-color);
    border-radius: 0.4rem;
  }
}

@mixin animation-hover {
  transition: all 0.5s ease-in-out;
}

@function text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin hover-text {
  color: $second-color;
  text-shadow: 0 0 10px $second-color;
}

@mixin phone {
  @media screen and (min-width: 200px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
