.home {
  // width: 100%;
  height: 100vh;
  // overflow: hidden;
  // align-items: center;
  // text-align: center;
  position: relative;
  // position: fixed;
  background: 
  linear-gradient(
    to right,
   hsla(233, 21%, 8%, 0.89), 
   hsla(244, 95%, 29%, 0.664)), 
  url(../images/cristianorozco.jpg) no-repeat;
  background-size: cover;
  filter: grayscale(100%) contrast(120%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 28% 100%, 0 84%);
  background-attachment: fixed;  

  .hero__text {
    // position: absolute;
    // z-index: 1;
    // text-align: left;
    // top: 45vh;
    // left: 10%;
    display: flex;
    height: 800px;
    width: 80%;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    text-align: right;

    &-name {
      font-size: 5rem;
      padding-bottom: .5rem;
    }

    &-last {
        color: $second-color;
      }

  }

  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
}