.home {
  height: 600px;
  position: relative;
  // position: fixed;
  background: 
  linear-gradient(
    to right,
   hsla(233, 21%, 8%, 0.89), 
   hsla(244, 95%, 29%, 0.664)), 
  url(../images/cristianorozco.jpg) no-repeat 50% 0%;
  background-size: cover;
  filter: grayscale(100%) contrast(120%);
  clip-path: polygon(0 0, 100% 0, 100% 82%, 28% 100%, 0 84%);
  background-attachment: fixed;  

  .hero__text {
    display: flex;
    height: 800px;
    width: 80%;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    text-align: right;

    &-name {
      font-size: 5rem;
      padding-bottom: .5rem;
    }

    &-last {
        color: $second-color;
      }

  }

}

.scroll-down {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 50%;
  bottom: 50px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, 0) rotate(45deg);
  animation: move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes move_down {
  0% {
    transform: translate(0,-70px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 40px) rotate(45deg);
    opacity: 0;
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.subtitles {
  color: $second-color;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $second-color;
        cursor: pointer;
        @include hover-text;
        @include animation-hover;
      }
    }
  }
}