.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include animation-hover;

  &__burger {
    position: absolute;
    right: 0;
    top: .5rem;
    width: 28px;
    height: 3px;
    background: text-color($main-color);
    @include animation-hover;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: text-color($main-color);
      @include animation-hover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: text-color($main-color);
      @include animation-hover;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent; 

      &::before { // transform: rotate(45deg) translate(x or horizontal, y or vertical);
        transform: rotate(45deg) traslate(5px, 8px)
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) traslate(3px, -7px)
    }
  }
 }
}