.projects {
  padding-bottom: 2rem;

  &-image {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .subtitles {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
  
  &__container {
    width: 80vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

   &__item {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
      }

      .project-text {
      margin-top: 1rem;
      position: absolute;
      top: 0%;
      bottom: 0%;
      width: 100%;
      text-align: center;
      opacity: 0;
      color: gray;

        h1 {
          font-size: 1.7rem;
          padding-bottom: 1rem;
        }

        h2 {
          font-size: 1.3rem;
        }
      }
      
    }

    & .project-image::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $main-color;
      opacity: 0;
      @include animation-hover;
    }

    & .project-image:hover {
      
      &::after {
        top: 0;
        opacity: .95;
      }

      .projects__btns {
        opacity: 1;
      }
      
      & + .project-text {
        opacity: 1;
        @include animation-hover;
      }
    }
      
  

  &__btns{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    a {
      display: inherit;
      background: rgb(36, 35, 35);
      border-radius: 1rem;
      padding: .2rem;

      &:hover {
        background-color: $second-color;
        color: #fff;
      }
    }
    
    
    &:hover a {
      margin: 0 .5rem;
      margin-bottom: 2rem;
      opacity: 1;
    }
  }

  &__btn {
    opacity: 0;
    color: text-color($main-color);
    @include animation-hover;

    i {
      padding-right: .2rem;
    }

    &:hover {
      color: text-color($second-color);
      @include hover-text;
    }
  }

    .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: rotate(270deg) translate(3rem, 5rem);
  }


}

