dist/css/style.css.map
dist/css/style.min.css.map
dist/images-originals
*.scss

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map
*.scss
*.map
*.min.css
/dist/css/style.min.css

# Local Netlify folder
.netlify

